doctype html
html(ng-app="meanApp")
  head
    title MEAN App - v 0.0.1
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='https://fonts.googleapis.com/css?family=Barrio|Dosis', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.js')
    script(src='/js/angular/angular.min.js')
    script(src='/js/angular/angular-ui-router.min.js')
    script(src='/js/angular/angular-animate.js')
    script(src='/js/angular/app.js')
    script(src='/js/jquery.jscrollpane.min.js')
    script(src='/js/jquery.mousewheel.js')
    script(src='/css/bootstrap/js/bootstrap.min.js')
    script(src='/js/script.js')
  body
    div(ng-show="preloader") Loadding...
    nav.navbar.navbar-default.navbar-fixed
        .container-fluid
            .navbar-header
              a.navbar-brand(ui-sref='#') MEAN STACK
            |     
            ul.nav.navbar-nav
              li
                a(ui-sref='home', ui-sref-active="active") Home
              |       
              li
                a(ui-sref='stacks', ui-sref-active="active") Stacks
              |       
              li
                a(ui-sref='about', ui-sref-active="active") About
    div(ui-view, class="slide")
      